<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @garden.banner_url %>);">
  <div class="container">
    <h1><%= @garden.name %></h1>
  </div>
</div>

<div class="container py-4">
  <div class="cards">
    <% @plants.each do |plant| %>
    <%= link_to plant_path(plant) do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= plant.image_url %>)">
        <%= plant.name %>
      </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container py-5">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <%= render 'plants/form', garden: @garden, plant: @plant %>
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_garden_path(@garden) %>
<%= link_to 'Back', gardens_path %>
